*.ini
*.exe
*.bak
*.dll
*.ppu
*.o
*.obj
*.compiled
*.lps
*.res
lib/tf/backup/
lib/zlibcx/backup/
src/backup/
lib/util/backup/
lib/crc_hash/backup/
lib/aes/backup/
shellext/backup
backup/
obj/
bin/
!shellext/icon.res